h1{
    text-align: center;
}

hr{
    width: 10cm;
}

li{
    padding-top: 5px;
    padding-bottom: 5px;
}

body{
    background-color: lightgray;
}

.banner{
    margin: auto;
    width: 80%;
}

body{
    text-align: center;
}

.recipe-box{
    background-color: antiquewhite;
    width: 300px;
    margin: auto;
    border-style: double;
    padding-bottom: 10px;
    padding-top: 10px;
}

.container{
    width: 80%;
    margin: auto;
}

.recipe-body{
    text-align: left;
}