*{
    font-family: 'Courier New', Courier, monospace;
}

h1,h2{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

hr{
    width: 10cm;
}

li{
    padding-top: 5px;
    padding-bottom: 5px;
}

body{
    background-color: lightgray;
    text-align: center;
}

.banner{
    margin: auto;
    width: 100%;
    align-content: center;
}

.recipe-box{
    background-color: antiquewhite;
    width: 500px;
    margin: auto;
    border-style: double;
    padding-bottom: 10px;
    padding-top: 10px;
    align-items: center;
    font-size: 1.5em;
}

.container{
    width: 80%;
    margin: auto;
}

.recipe-body{
    text-align: left;
}

.description-text{
    text-align: center;
}