h1{
    color: green;
    border-style: dashed;
    border-width: 10px;
    border-color: black;
    text-align: center;
}

body{
    background-color: lightgray;
}

.banner{
    text-align: center;
}

body{
    text-align: center;
}